.root {
    -fx-background-image: url("../../resources/img/cw_background.png");
    -fx-background-size: cover;
}

#SettingsButton {
    -fx-graphic: url('../../resources/img/settings.png');
}

#FullscreenButton {
    -fx-graphic: url('../../resources/img/fullscreen.png');
}

#GSMButton {
    -fx-graphic: url('../../resources/img/gsm.png');
}

#SteamButton {
    -fx-graphic: url('../../resources/img/steam.png');
}

#UplayButton {
    -fx-graphic: url('../../resources/img/uplay.png');
}

#Nintendo64Button {
    -fx-graphic: url('../../resources/img/n64.png');
}

#WiiButton {
    -fx-graphic: url('../../resources/img/wii.png');
}

#SNESButton {
    -fx-graphic: url('../../resources/img/snes.png');
}

#NESButton {
    -fx-graphic: url('../../resources/img/nes.png');
}

#OriginButton {
    -fx-graphic: url('../../resources/img/origin.png');
}

#GOGButton {
    -fx-graphic: url('../../resources/img/gog.png');
}

#RetroArchButton {
    -fx-graphic: url('../../resources/img/retroarch.png');
}
#XboxButton {
    -fx-graphic: url('../../resources/img/xbox.png');
}
#ArcButton {
    -fx-graphic: url('../../resources/img/arc.png');
}
#DesuraButton {
    -fx-graphic: url('../../resources/img/desura.png');
}

.button {
    -fx-background-color: rgba(0, 0, 0, .7);
    -fx-background-radius: 0;
    -fx-padding: 8px;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border: solid;
    -fx-border-width: 2px;
    -fx-border-color: rgba(255, 255, 255, .3);
    -fx-background-insets: 2px;
}

.button:hover {
    -fx-border-color: rgba(180, 222, 255, 0.7);
}
